header{
    background-image: url(../img/);
    background-size: cover;
    height:70vh;
    position: relative;
    background-position-x: center;
    background-position-y: center;
 
 }
 nav{
     background-color:#000000ac;
 }
 
 .header{
     height: 29rem;
     background-color:#000000ac ;
 }
 
 /* Suite */ 
 
 
 h1{
     font-size: courgette;
     text-align: center;
     padding-top: 40px;
     color: white;
 }
 