
header{
   background-image: url(../img/team/team.jpg);
   background-size: cover;
   height:70vh;
   position: relative;
   background-position-x: center;
   background-position-y: center;

}
nav{
    background-color:#000000ac;
}

.header{
    height: 29rem;
    background-color:#000000ac ;
}

/* Suite */ 


h1{
    font-size: courgette;
    text-align: center;
    padding-top: 40px;
    color: white;
}

img {
    max-width: 80%;
}

.gallery {
    background-color: #dbddf1;
    padding: 80px 0;
}

.gallery img {
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 25%;
}


